@{
    ViewBag.Title = "The Story So Far...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>War has taken the world by storm. Valiant heroes and wretched villains alike have met their end in the name of their nation. As body counts grew higher and morale grew lower, the leaders of the surviving nations came together in  order to attempt to end the conflict diplomatically. As the kings spoke to one another, they realized peace was a beautiful lie, and war the ugly truth of their existence. Uther Alrikson,King of Goldenhal, came up with the idea of a joust. Where instead of losing thousands of sons and daughters to the war, each nation would instead send their mightiest soldiers into a dance of death atop the mightiest steeds in the realm. The other nations reluctantly agreed, and The Final Tourney had started.
</p>
<p>
    You are one of these knights. Decide which Order you will joust for before the masses. Earn glory for your team as hooves stampede and lances splinter. Rise above your peers and become Grand Champion.
    </p>
