@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tilt, The Final Tourney</h1>
    <p class="lead">Your destiny awaits.</p>
    <p>

    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Orders</h2>
        <p>
           The Orders each represent what it means to be a knight to the different cultures of Atharia. Will you pillage and conquer as a Tyrant of Draconis, or defend the weak as a paladin serving The Radiant Dawn? With more Orders on the way to pledge allegiance to, each knight should find an Order worth laying their lives down for
        </p>
        <p><a class="btn btn-default" href="https://localhost:44304/Order">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        @*<h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Knights</h2>
        <p>Behold your competition.The bravest and boldest in all of Atharia. Crush them underneath your lance and mount.</p>
        <p><a class="btn btn-default" href="https://localhost:44304/Knight">Learn more &raquo;</a></p>
    </div>
</div>